<div>
<app-nav-bar class="navbar1"></app-nav-bar>
<div *ngIf="images && images.length > 0" class="carousel-container" >
  <img *ngFor="let image of images; let i = index "
       [src]="image.imageSrc" [alt]="image.imageAlt"
       [ngClass]="{'image-active': selectedIndex === i}"
       class="fade"
  >
  <div *ngIf="indicators" class="carousel-dot-container">
    <span *ngFor="let dot of images; let i = index" class="dot" [ngClass]="{'active':selectedIndex === i}"
    (click)="selectImage(i)">
    </span>
  </div>
</div>
<div class="home">
  <div>
    <app-product></app-product>
  </div>
</div>
  <div class="footer">
   <app-footer ></app-footer>
  </div>

</div>
