<div>
  <app-nav-bar class="navbar1"></app-nav-bar>

  <h1>Các sản phẩm của hãng {{nameCategory}}</h1>
  <mat-divider></mat-divider>
  <div class="container1 mt-5">
    <mat-grid-list class="view-project"  cols="5"  rowHeight="2:3" gutterSize="20">
      <mat-grid-tile *ngFor="let p of product|  paginate: { itemsPerPage: 10, currentPage: p }">
        <div class="row home-page-product-image"  >
          <div class="product-image">
            <img  src="{{p.image}}">
          </div>
          <div class="name-product mt-3">
            <p><b>{{p.name}}</b></p>
          </div>
          <div class="star  rating-star">
            <!--          <ngx-star-rating [id]="'rating'"></ngx-star-rating>-->
            <star-rating class="rating" [value]="p.star" uncheckedcolor="black" size="20px" [readonly]="false" ></star-rating>
          </div>
          <div class="product-price">
            <p class="product-price-start">{{formatPrice(p.price)}}đ</p><p><b>{{formatPrice(p.lastprice)}}đ</b></p>
          </div>
          <div mat class=" button">
            <button mat-raised-button color="warn" style="margin-bottom: 20px" (click)="showProductDetails(p.id)" >Chi tiết</button>
          </div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <div class="page">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
  <div class="footer">
    <app-footer ></app-footer>
  </div>
</div>
