<nav class="navbar navbar-expand-lg navbar-dark">
<!--  <div class="fill-current text-center">-->
<!--    <img class="w-16" src="assets/img/logo.png">-->
<!--  </div>-->
  <div class="navbar-left">
  <a class="navbar-brand" href="home">Trang chủ</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
          aria-expanded="false" aria-label="Toggle navigation">
  </button>
  </div>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="introduce">Giới thiệu</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [matMenuTriggerFor]="menu" >Hãng</a>
        <mat-menu #menu="matMenu" class="exit">
          <button mat-menu-item (click)="getCategory(carId = 1)">
            <img class="logo-category" src="assets/img/nike-logo2.png">
            Nike
          </button>
          <mat-divider class="text-border"></mat-divider>
          <button mat-menu-item (click)="getCategory(carId = 2)">
            <img class="logo-category" src="assets/img/adidas.png">
            Adidas
          </button>
          <mat-divider class="text-border"></mat-divider>
          <button mat-menu-item (click)="getCategory(carId = 3)">
            <img class="logo-category" src="assets/img/vans.png">
            Vans
          </button>
          <mat-divider class="text-border"></mat-divider>
          <button mat-menu-item (click)="getCategory(carId = 4)">
            <img class="logo-category" src="assets/img/puma.png">
            Puma
          </button>
          <mat-divider class="text-border"></mat-divider>
          <button mat-menu-item (click)="getCategory(carId = 5)">
            <img class="logo-category" src="assets/img/balenciaga.png">
            Balenciaga
          </button>
        </mat-menu>

      </li>
    </ul>
  </div>
  <div class="navbar-right">
  <a class="cart" href="cart">
    <svg xmlns="http://www.w3.org/2000/svg" height="30" width="30" fill="currentColor" class="bi bi-cart"
         viewBox="0 0 16 16">
      <path
        d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"
        fill="#fff"/>
    </svg>
    <div class="badge bg-danger" style="font-size: 10px ; color: azure">{{totalItem}}</div>
  </a>
  <div  *ngIf="!checkLogin" class="signin">
    <a  class="navbar-signin" href="login">Sign in</a>
  </div>

  <div  *ngIf="!checkLogin" class="signin">
  <a class="navbar-signin" href="register">Sign up</a>
  </div>
  <a *ngIf="checkLogin" class="login">
    <button
      mat-button
      [matMenuTriggerFor]="menu"
      class="user d-flex align-items-center"
    >
      <span class="userIcon">
    <svg xmlns="http://www.w3.org/2000/svg" height="30" width="30" fill="currentColor" class="bi bi-person"
         viewBox="0 0 16 16">
      <path
        d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"
        fill="#fff"/>
    </svg>
      <p style="color: white">{{name}}</p>
        </span>
    </button>
    <mat-menu #menu="matMenu" class="exit">
      <button mat-menu-item >
        Hồ sơ cá nhân
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="logOut()">
        <mat-icon>exit_to_app</mat-icon>
        Logout
      </button>
    </mat-menu>
  </a>
  </div>
  <!--  <mat-icon color="primary">Person</mat-icon>-->
  <!--  <a *ngIf="checkLogin" class="nav-link" href="user-account" >{{name}}</a>-->
</nav>
