<!--<div class="info__user-page" *="let p of user">-->
<!--  <div class="info__user-img">-->
<!--    <img src="{{p.avatar}}">-->
<!--    <i id="change-avata" title="Thay đổi ảnh đại diện" class="fa-light fa-camera"></i>-->
<!--  </div>-->
<!--  <h1>-->
<!--    {{p.name}}-->
<!--  </h1>-->
<!--  <form method="post" enctype="multipart/form-data" style="width: 100%;">-->
<!--    <section style="width: 100%;">-->
<!--      <ul>-->
<!--        <li><label >Họ và tên:</label><input class="textbox" name="name" value="{{p.name}}">-->
<!--        </li>-->
<!--        <li><label></label>Số điện thoại:<input class="textbox" type="tel" name="mobile" value="{{p.name}}">-->
<!--        </li>-->
<!--        <li><label></label>Địa chỉ:<input class="textbox" name="address" rows="1" value="{{p.name}}">-->
<!--        </li>-->
<!--        <li><label></label>Email:<input class="textbox" type="email" name="email" value="{{p.name}}"></li>-->
<!--        <input hidden class="textbox" name="username" value="{{p.name}}">-->
<!--      </ul>-->
<!--      <input class="btn btn-sm btn-info btn-signup" style="background-color: #0dcaf0; color:#fff" type="submit" value="Cập nhật lại thông tin">-->
<!--    </section>-->
<!--  </form>-->
<!--</div>-->
<!--<div class="container">-->
<!--  <div class="col">-->
<!--    <div class="info__user-img">-->
<!--      <img [src]="user?.avatar" >-->
<!--      <i id="change-avata" title="Thay đổi ảnh đại diện" class="fa-light fa-camera"></i>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
