<app-nav-bar></app-nav-bar>
<ng-container *ngIf="cart.length != 0">
  <div class="container">
    <div class="card">
      <h2 class="card-title"> Giỏ hàng</h2>
      <div class="card-table">
        <div class="cart-product">
          <table class="table table-responsive table-cart">
            <thead>
            <tr>
              <th>STT</th>
              <th>Tên sản phẩm</th>
              <th>Hình ảnh sản phẩm</th>
              <th>Size</th>
              <th>Giá</th>
              <th>Số lượng</th>
              <th>Thao tác</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let p of cart, let i= index ">
              <td>{{i + 1}}</td>
              <td class="nameP">{{p.nameP}}</td>
              <td class="imageP"><img src="{{p.imageP}}"></td>
              <td *ngIf="p.size != 0">{{p.size}}</td>
              <td *ngIf="p.size == 0">freesize</td>
              <td>{{formatPrice(p.priceP)}}đ</td>
              <td><div class="item-count"><button class="counter-btn increment"  (click)="updateQuantityTru(p.id)" >-</button>{{p.quantity}}<button class="counter-btn decrement" (click)="updateQuantityCong(p.id)">+</button></div></td>
              <td>
                <button class="btn btn-danger" (click)="deleteCart(p.id)">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="oder" align="right">
          <h4>Tổng tiền : {{formatPrice(totalMoney)}} VNĐ</h4>
          <button (click)="buyProduct()" mat-raised-button color="warn">Đặt mua</button>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="cart.length == 0 or cart == null ">
  <div class="container cart-empty">
    <div class="card1">

    <div class="center">
      <img
        src="https://rukminim1.flixcart.com/www/800/800/promos/16/05/2019/d438a32e-765a-4d8b-b4a6-520b560971e8.png?q=90"
        alt="">
      <h2>Giỏ hàng của bạn hện tại đang trống!</h2>
      <h4>Vui lòng thêm sản phẩm vào giỏ hàng!</h4>
      <button routerLink="/home" class="btn btn-primary">Trang sản phẩm</button>
    </div>
    </div>
  </div>
</ng-container>
<app-footer></app-footer>
