.card{
  margin: 25px;
  padding: 25px;
}
.table-cart {
  overflow: hidden;
  margin: 0;
  max-height: 400px;
  overflow-y: scroll ;
}
.center img{
  text-decoration: none;
  color: inherit;
  border: none;
  outline: none;
  height: 200px;
  width: 280px;
  margin: 5px 0px;
}
.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}
.card-table{
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: auto;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border-radius: .25rem;
}
.center .btn{
  font-size: 14px !important;
  margin-bottom: 30px;
  font-weight: 400;
  padding: 12px 72px;
  border-radius: 3px !important;
}
.imageP{
  width: 30%;
}
.imageP img{
  height: 45%;
  width: 45%;
}
td{
  vertical-align: middle ;
}
tr{
  text-align: center;
}
.nameP{
  text-align: left;
}
.page {
  text-align: center;
}
.oder{
  margin: 20px;
}
.card1{
  margin: 25px;
  padding: 25px;
  height: 400px;
  border: 1px solid rgba(0,0,0,0.4);
  border-radius: 5px;
}
.item-count{
  display: flex;
}
.counter-btn{
  width: 22px;
  height: 22px;
}
.counter-btn{
  border: none;
  background: #f3f3f3;
  border: 1px solid rgb(216,216,216);
  border-radius: 1px;
  cursor: pointer;
  margin-right: 5px;
  margin-left: 5px;
}
.cart-empty{
  padding: 20px;
}
