.container1 {
  overflow-x: hidden;
}
.product-about{
  height: 530px;
  overflow-y: scroll;
  padding-right: 20px;
}
.text-title{

  text-align: center;
}
.product-about::-webkit-scrollbar {
  display: none;
}
.image{
  width: 71%;

}
.product-detail{
  margin-top: 20px;

}
.image1{
  width: 100%;
}
.product-details1{
  margin: 5px auto 10px;
}
h4{
  font-weight: 600;
}
.product-details{
  margin: 0 auto;
  display: flex;
  /* margin: 0 auto; */
  justify-content: center;
  align-items: center;

}

@media screen and (max-width: 767px){
  .product-details{
    display: none;
  }
  .product-about {
    width: 100%;
  }
  .product-details1 {
    width: 70%;
  }
}
