.container1 {
  max-width: 80vw;
  position: relative;
  height: 80vh;
  /*max-height: 80vh;*/
  border-radius: 20px;
  overflow: hidden;
}

.close {
position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000;

}

.image-top{
  width: fit-content;
  /*width: 80%;*/
  /*width: 544px;*/
  /*height: 335px;*/
}
.product-detail {
  height: 100%;
  display: flex;
  padding: 0 20px;
}
.product-image {
  display: flex;
  flex-direction: column;
  height : 100%;
}

.product-image-1 {
  width: 80%;
  height: 65%;
}

.product-image-2 {
  width: 30%;
  height: 100%;
  /*margin-right: 17px;*/
}
.product-details{
  height: fit-content;
}

.image-buttom {
  width: 80%;
  margin-top: 20px;
  /*padding-left: 40px;*/
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;

}

.product-price-start {
  text-decoration: line-through;
}

.product-price {
  width: 100%;
  display: flex;
  column-gap: 8px;
}

.product-description {
  height: 250px;
  padding-right: 20px;
}
.product-description::-webkit-scrollbar {
  display: none;
}
@media screen and (max-width: 1023px) {
  .product-detail {
    /*display: grid!important;*/
    overflow-y: scroll;


  }
  .product-image,
  .product-details{
    margin: 0 auto;
    width: 80%;
  }
  .product-image {
    margin: 0 auto;
    /*padding-bottom: 20px;*/
  }
  .product-image-1 {
    padding: 0;
    margin: 0 auto;
  }
  .image-buttom {

    margin: 20px auto;
  }
}
@media screen and (max-width: 767px) {
  .product-image{
    height: auto;
  }
  .product-description{
    height: auto;
  }

}

.sizes{
  display: flex;
  align-items: center;
  gap: 16px;
}

.sizes>div{
  display: flex;
  gap: 8px;
}



.size{
  cursor: pointer;
  border: 2px solid gray;
  width: fit-content;
  padding: 2px;
}

.selected {
  background-color: burlywood;
}
